#ar{
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
}
html{
    background-color: black;
}
.Arbaz{
    color: white;
    text-align: center;
}
#av{
    width: 100%;
    border: 5px solid white;
}
div{
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
}
p{
    font-family: 'Lora', serif;
}